.App {
  text-align: left;
  display: flex;
  justify-content: center;
  gap:10vw;
}
.Title-div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}
.Title-img{
  width: 80vw;
}
body{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://cdn.shopify.com/s/files/1/0345/9180/1483/files/600_x_525_Desktop_Background_2.png?v=1666903763&width=1200");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Anime-img{
  border-radius: 10px;
  filter: blur(5px);
  animation-name: animationImage;
  animation-duration: 2s;
}



.Container-buttons{
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  gap: 3vw;
}
.Button-option{
  color: yellowgreen;
  border-radius: 20px;
  background-color:transparent;
  border: 1px yellowgreen solid;
  height: 3vh;
  width: 10vw;
  box-shadow: 1px 2px 8px -1px yellowgreen;
  -webkit-box-shadow: 1px 2px 8px -1px yellowgreen;
  -moz-box-shadow: 1px 2px 8px -1px  yellowgreen;

}
.Button-option:hover{
  background-color:yellowgreen;
  color: blue;
  font-weight: 100;
}
.Question{
  color: white;
  font-size: 3vh;
  margin-bottom: 1vh;
}
.Score{
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3vh;
}
.Hint{
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: small;
}
@keyframes animationImage {
  from{transform: rotateY(0deg);}
  to{transform: rotateY(180deg)}
}
.Anime-hint{
  display: flex;
}
.Synopsis-div{
  background-color: black;
  color:white;
  position: absolute;
  font-size: small;
  display: none;
  width: 20vw;
}
span:hover + .Synopsis-div{
  display: block;
}

.Synopsis-div:hover{
  display: block;
}